# Dependencies
node_modules/

# Cypress
cypress/videos/
cypress/screenshots/
cypress/downloads/

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
